@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* Only fix the white space issues without breaking design */
html, body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}